[submodule "pubsub-router"]
    path = pubsub-router
    url = git@github.com:itsHabib/pubsub-router.git
[submodule "course-builder"]
	path = course-builder
	url = git@github.com:itsHabib/course-builder-cache.git
[submodule "wellness-team"]
	path = wellness-team
	url = git@github.com:itsHabib/wellness-team.git
[submodule "agent-hackathon"]
	path = agent-hackathon
	url = git@github.com:itsHabib/agent-hackathon-cli.git
[submodule "agent-orchestra"]
	path = agent-orchestra
	url = git@github.com:itsHabib/orchestra.git
[submodule "ingest"]
	path = ingest
	url = git@github.com:itsHabib/ingest.git
